* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

canvas {
    display: block; /* Remove any inline spacing */
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('assets/fonts/PixelifySans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}